/* svg {
  background: #e6dfcc;
} */
.point {
  fill: #fd486e;
  opacity: 0.8;
  cursor: pointer;
}
.point:hover {
  opacity: 1;
}
.point text {
  fill: #333;
  text-anchor: middle;
  font-family: sans-serif;
  font-size: 10px;
}

.link,
.indicator {
  stroke: #391d71;
  fill: none;
  visibility: hidden;
  pointer-events: none;
}
.visible.link,
.visible.indicator {
  visibility: visible;
}

.tc-config {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.timecurve {
  border: 1px dashed #391d71;
  background-color: #fff;
}
.tc-item {
  border: 1px dashed #666;
  padding: 2px 8px;
  width: 200px;
  margin-right: 24px;
}
.tc-item p {
  display: flex;
  margin: 4px;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
}

.animation {
  animation: dash 3s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.show-bg .annotation-note-bg {
  fill: fuchsia;
  fill-opacity: 0.05;
}

.annotation text {
  fill: #e8336d;
}

.annotation-connector path,
.annotation-note path {
  stroke: #e8336d;
  fill: none;
  opacity: 0.2;
}

.annotation-note {
  cursor: pointer;
}

.hidden {
  display: none;
}

.highlight path {
  opacity: 1;
  stroke-width: 2;
}
