.small {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4px;
}

.small svg {
  border: 1px dashed #391d71;
}
.small svg:hover {
  background-color: #fd486e;
  color: #fff;
  cursor: pointer;
}

.small p {
  font-size: 10px;
  color: #666;
  margin: 0;
  margin-top: 4px;
}
