.right {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding-top: 56px;
}

.mcc,
.wea p {
  color: #666;
  font-size: 12px;
}

.wea {
  margin-left: 24px;
  transition: all 0.2s;
}

.compose {
  position: absolute;
  top: 56px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s;
  margin-left: 0;
}

.compose p {
  text-align: right;
}

.operation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
